.btn {
  padding: 13.5px 44px;
  border-radius: 8px;
  letter-spacing: 0.03rem;
  font-size: 1.4rem;
  font-weight: 600;
  transition: 0.5s;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
.btn--outline {
  background: transparent;
  color: $primary-main;
  border: 2px solid $primary-main;
  box-shadow: 0 3px 6px #c9d8f4;
  margin-right: 7px;
  &:hover {
    background: $primary-main;
  }
}
.btn--container {
  background: linear-gradient(120deg, #60a4f4, $primary-main);
  color: white;
  padding: 15.5px 46px;
  &:hover {
    opacity: 0.75;
  }
}
.card__btnBuy--shadow {
  background: #f5f9fe;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.042rem;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  color: $primary-main;
  box-shadow: 2px 2px 4px #e2ebfc, -2px -2px 4px #fff;
  transition: 0.5s;
  &:hover {
    box-shadow: inset 1px 1px 3px #e2ebfc, inset -2px -2px 5px #fff;
  }
}
.navbar-toggler {
  &-icon { 
      color: $primary-dark;
      font-size: 2.24rem;
      line-height: 3.36rem;
      font-weight: 900;
    
  }
}
