body{
    font-family: 'Nunito Sans', sans-serif;
}
html {
    font-size: 10px; //1rem = 10px
}
.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}