.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
  img {
    margin-bottom: 60px;
  }
  &__copyright {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      .footer__nav-item {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        padding: 0.7rem 1.4rem;
        a{
            color: #fff;
            transition: all 0.5s;
            &:hover{
                opacity: 0.75;
            }
        }
      }
    }
  }
}
