.footer {
  background-color: #2a73dd;
  padding-bottom: 60px;
  color: #fff;
  img {
    margin-bottom: 60px;
  }
  .footer__copyright {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .footer__nav {
    .footer__nav-list {
      display: flex;
      justify-content: end;
      .footer__nav-item {
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
        padding: 0.7rem 1.4rem;
        a{
            color: #fff;
        }
      }
    }
  }
}
