.header {
  position: fixed;
  left: 0;
  right: 0;
  background-color: #f5f9fe;
  box-shadow: 0 2px 4px #e2ebfc;
  padding: 10px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header__logo {
      a {
        font-size: 2.5rem;
        font-weight: 600;
        color: $primary-main;
      }
    }
    .header__nav {
      .header__nav-list {
        display: flex;
        .header__nav-item {
          padding: 25px;
          a {
            font-size: 1.5rem;
            font-weight: 600;
            color: $primary-dark;
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              display: block;
              background-color: $primary-main;
              transform: scale(0);
              transition: all 0.2s;
            }
          }
          &:hover {
            a {
              color: $primary-main;
              &::after {
                transform: scale(1);
              }
            }
          }
        }
        .header__nav-item--active {
          a {
            color: $primary-main;
            &::after {
              content: "";
              width: 100%;
              height: 2px;
              display: block;
              background-color: $primary-main;
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}
